.lost-modal {
    display: block;
    position: fixed;
    z-index: 6; 
    width: 100vw; 
    height: 100vh; 
}

.contentModalLost {
    background-image: url(../assets/ciel.png);
    height: 100%;
    border: 1px solid #888;
    width: 100%;
}

.class-pLost {
    font-family: cursive;
    color: #062745;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    height: 20%;
}

.contentModalLost button {
    display: flex;
    border-radius: 50%;
    height: 10%;
    width: 10%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    color: rgb(82, 117, 162);
    background: radial-gradient(circle at bottom, rgb(90, 130, 182, 100%), rgb(90, 130, 182, 10%), rgb(53, 76, 107, 10%), #062745 100%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 -8px 15px rgba(0, 0, 0, 0.1);

}

.lostButton {
    display: flex;
    justify-content: center;
}

.scoreLost {
    text-align: center;
}