body {
    background-image: url(../assets/ciel.png);
    z-index: 1;
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    animation: 40s linear 1s infinite running cielSlideIn;
    /* overflow: hidden; */
}

@keyframes cielSlideIn {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}


.class-game {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.div-img {
    height: 20%;
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;

}

.img-boat {
    height: 50%;
    position: relative;
    top: 57px;
    z-index: 2;

}

.img-ile {
    height: 78%;
    position: relative;
    top: 52px;
    z-index: 4;
}



.div-table {
    height: 10%;
    margin-top: 50px;
}

table {
    margin-top: 50px;
    margin: auto;
}

td {
    color: white;
    margin: 5px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-spacing: 20px;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #4f7dad, #000);
}

.div-div-gen {
    height: 70vh;
    padding-top: 2%;
    width: 100vw;
    position: relative;
    background-image: url(../assets/ocean2.png);
    animation: 15s linear 1s infinite running oceanSlideIn;
    background-size: cover;
    z-index: 5;
    margin: 0;
    bottom: 71%;
}

.class-divGen {
    height: 70vh;
    width: 100vw;
    position: relative;
    background-image: url(../assets/ocean1.png);
    animation: 20s linear 1s infinite running oceanSlideIn;
    z-index: 3;
    background-size: cover;
    margin-bottom: 0%;
}

@keyframes oceanSlideIn {
    100% {
        background-position: 100%;
    }

    0% {
        background-position: 0%;
    }
}

.class-divLetter:hover {
    cursor: pointer;
}





.class-divAlphabet {
    height: 75%;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.class-divLetter {
    height: 15%;
    width: 10%;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgb(152, 192, 245);
    border: 1px solid rgb(41, 59, 83);
    background: radial-gradient(circle at bottom, rgb(90, 130, 182, 100%), rgb(90, 130, 182, 10%), rgb(53, 76, 107, 10%), #062745 100%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 -8px 15px rgba(0, 0, 0, 0.1);
}

.class-bubble-explose {
    background-position: center;
    border: none;
    box-shadow: none;
}

.class-lost-boat {
    z-index: 6;
}

